body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: #dbdbeb;
  color: #080957;
}

h1 {
  font-size: 25px;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

#cityInput {
  text-align: center;
  color: white;
  background: #dbdbeb;
  border: 3px double white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#searchButton {
  color: #080957;
  background: #dbdbeb;
  border: 3px double #080957;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#searchButton:hover {
  color: #dbdbeb;
  background: #080957;
  border: 3px double #dbdbeb;
  cursor: pointer;
}

#currentLocationButton {
  color: #080957;
  background: #dbdbeb;
  border: 3px double #080957;
  font-size: 1rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
}

#currentLocationButton:hover {
  color: #dbdbeb;
  background: #080957;
  border: 3px double #dbdbeb;
  cursor: pointer;
}

.weatherApp {
  border: 6px double #080957;
  padding: 20px;
  margin: 40px auto;
  max-width: 650px;
  border-radius: 20px;
  background: #c2cfd8;
}

.currentOverview {
  list-style: none;
  margin-left: -30px;
  margin-top: -10px;
}

.temp {
  font-size: 50px;
  margin-left: 50px;
}

.degree {
  position: relative;
  top: -35px;
}

.degree .active {
  color: black;
  cursor: default;
}

.degree .active:hover {
  text-decoration: none;
}

.weatherIcon {
  font-size: 50px;
  padding-left: 150px;
}

.weatherOverview {
  list-style: none;
  margin-left: 30px;
}

.weatherForecast {
  margin: 30px auto;
}

.weatherForecastDate {
  text-align: center;
  margin-bottom: 5px;
}

.weatherIconForecast {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.weatherForecastTemp {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}
